@model List<Lab.TP6.MVC.Models.ShippersView>
@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default my-3">
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de la Compañia</th>
                    <th>Telefono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.CompanyName</td>
                        <td>@item.Telefono</td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID }, "Shipper") |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.ID }, new { onclick = "return confirm('¿Está seguro de querer borrar?')" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @Html.ActionLink("Insertar Nuevo Empresa de Transporte", "Insert", "Shippers")
        </div>
    </div>
</div>